body {
  background-color: white;
  margin: 0px;
}

#header {
  background-color: darkblue;
  color: #fff;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

#content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 12px;
}

#messages {
  flex-grow: 1;
  list-style-type: none;
}

.message {
  color: darkblue;
  padding: 6px;
}

#footer {
}
