{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
  const protocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
  const ws = new WebSocket(`${protocol}//${location.host}/ws`);

  ws.addEventListener('message', function (event) {
    addMessage(event.data);
  });

  function send(event) {
    const message = new FormData(event.target).get('message');
    if (message) {
      addMessage(`<i>${message}</i>`);
      ws.send(message);
    }
    event.target.reset();
    return false;
  }

  function addMessage(message) {
    const li = document.createElement('li');
    li.className = 'message';
    li.innerHTML = message.replace(/\n/g, '<br/>');
    document.getElementById('messages').appendChild(li);
  }
</script>

<div>
  <ul id="messages"></ul>

  <form onsubmit="return send(event)">
    <input type="text" name="message" minlength="1" placeholder="Enter a message" />
    <button type="submit">Send</button>
  </form>
</div>
{% endblock %}
